/* RESPONSIVE*/

@media screen and (max-width: 1920px) {
  body {
    height: 98vh;
  }
}

@media screen and (max-width: 1814px) {
  body {
    height: 98vh;
  }
  .imgLogo {
    margin-left: 49em;
  }
}

@media screen and (max-width: 1680px) {
  .imgLogo {
    margin-left: 48em;
  }
}

@media screen and (max-width: 1600px) {
  .imgLogo {
    margin-left: 47em;
    width: 11em;
  }
  p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1536px) {
  .imgLogo {
    margin-left: 45em;
    width: 10.8em;
  }
  p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1440px) {
  .imgLogo {
    margin-left: 42em;
    width: 10.7em;
  }
  p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1366px) {
  body {
    height: 96vh;
  }
  .imgLogo {
    margin-left: 40em;
    width: 10.6em;
    margin-top: -12em;
  }
  p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1360px) {
  body {
    height: 96vh;
  }
  .imgLogo {
    margin-left: 39em;
    width: 10.4em;
    margin-top: -12em;
  }
  p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1350px) {
  body {
    height: 95vh;
  }
  .imgLogo {
    margin-left: 38em;
    width: 10.3em;
    margin-top: -12em;
  }
  p {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 1280px) {
  .imgLogo {
    margin-left: 37em;
    width: 10.2em;
    margin-top: -12em;
  }
  p {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 1195px) {
  .imgLogo {
    margin-left: 34em;
    width: 10em;
    margin-top: -12em;
  }
  p {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 1120px) {
  .imgLogo {
    margin-left: 32em;
    width: 8em;
    margin-top: -11em;
  }
  p {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 1024px) {
  .imgLogo {
    margin-left: 28em;
    width: 8em;
    margin-top: -11em;
  }
  p {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 800px) {
  .imgLogo {
    margin-left: 21em;
    width: 7em;
    margin-top: -10em;
  }
  p {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 768px) {
  .imgLogo {
    margin-left: 21em;
    width: 7.8em;
    margin-top: -10em;
  }
  p {
    font-size: 1.0em;
    margin-left: calc(35vw - 6em);
  }
}

@media screen and (max-width: 603px) {
  .imgLogo {
    margin-left: 15em;
    width: 7.5em;
    margin-top: -10em;
  }
  p {
    font-size: 1.0em;
    margin-left: calc(30vw - 6em);
  }
}

@media screen and (max-width: 533px) {
  .imgLogo {
    margin-left: 13em;
    width: 7.3em;
    margin-top: -10em;
  }
  p {
    font-size: 1.0em;
    margin-left: calc(25vw - 6em);
  }
}

@media screen and (max-width: 480px) {
  body {
    height: 95vh;
  }
  .imgLogo {
    margin-left: 11em;
    width: 7.2em;
    margin-top: -10em;
  }
  p {
    font-size: 0.9em;
    margin-left: calc(25vw - 6em);
  }
}

@media screen and (max-width: 414px) {
  .imgLogo {
    margin-left: 9em;
    width: 7em;
    margin-top: -10em;
  }
  p {
    font-size: 0.8em;
    margin-left: calc(25vw - 6em);
  }
}

@media screen and (max-width: 412px) {
  .imgLogo {
    margin-left: 9em;
    width: 7em;
    margin-top: -10em;
  }
  p {
    font-size: 0.8em;
    margin-left: calc(25vw - 6em);
  }
}

@media screen and (max-width: 375px) {
  .imgLogo {
    margin-left: 8em;
    width: 7em;
    margin-top: -10em;
  }
  p {
    font-size: 0.8em;
    margin-left: calc(25vw - 6em);
  }
}

@media screen and (max-width: 360px) {
  .imgLogo {
    margin-left: 7em;
    width: 6.8em;
    margin-top: -9em;
  }
}

@media screen and (max-width: 320px) {
  body {
    height: 80vh;
  }
  .imgLogo {
    margin-left: 6em;
    width: 6.4em;
    margin-top: -7em;
  }
  p {
    font-size: 0.8em;
    margin-left: calc(25vw - 6em);
  }
}

@media screen and (max-height: 442px) {}

@media screen and (max-height: 375px) {}
